@{
    ViewData["Title"] = "Create supplier";
}

<div class="text-center">
    <h1 class="display-4">Create supplier</h1>
    <form action="" method="post">
        <p>Name:</p>
        <input name="Name" type="text" placeholder="Name" />
        <p>Last Name:</p>
        <input name="LastName" type="text" placeholder="Last name" />
        <p>Email:</p>
        <input name="Email" type="email" placeholder="Email" />
        <p>Description:</p>
        <input name="Description" type="text" placeholder="Description" />
        <p>Phone:</p>
        <input name="Phone" type="tel" placeholder="Phone" />
        <p>Address:</p>
        <input name="Address" type="text" placeholder="Address" />
        <input type="submit" value="Create" />
    </form>
</div>